* {
    box-sizing: border-box;
    font-family: 'Century Gothic', 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
    color: #0D0D0D;
}

body {
    background-color: #0D0D0D;
}

#introPanel {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 730px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#introPanel.reverse {
    flex-direction: row-reverse;
}

#sideImage {
    height: 400px;
    width: auto;
    margin: 25px;
    border-radius: 15px;
    transition: opacity 0.3s ease;
}

#entryForm {
    width: 275px;
    margin: auto;
    transform: translate(-12.5px, 0);
    transition: transform 0.3s ease;
}

h3 {
    font-size: x-large;
    margin-bottom: 0;
    margin-top: 0;
}

p, label {
    font-size: x-small;
    font-weight: bold;
}

#formSubtitle, #toggleText {
    font-weight: normal;
}

#formSubtitle.error {
    color: red;
    font-weight: normal;
    font-size: x-small;
}

.solid {
    margin: 25px 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=text], input[type=password], select {
    width: 100%;
    font-size: small;
    padding: 10px 10px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 15px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit].btn-login {
    background-color: #38077F;
}
input[type=submit].btn-login:hover {
    background-color: #5B2778;
}

input[type=submit].btn-signup {
    background-color: #870C06;
}
input[type=submit].btn-signup:hover {
    background-color: #C7140D;
}

#toggleText {
    text-align: center;
}

a {
    font-weight: bold;
}

